body
{
    background-image: url(tractor.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    margin: 0;
}
.navbar
{
    background-color: #000000;
    overflow: hidden;
    display: flex;
    justify-content: flex-end;
}
.navbar a{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}
.navbar a:hover {
    background-color: #575757; 
    color: rgb(133, 227, 131);
}