<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Services</title>
    <link rel="stylesheet" href="Service.css">
    <link rel="script" href="scripts.js">
</head>
<body>
    
        <div class="navbar">
          <a href ="../index.html">Home</a>
          <a href ="About.html">About</a>
          <a href ="Service.html">Service</a>
          <a href ="Store.html">Store</a>
          <a href ="Login.html">Login</a>  
        </div>
  
      <div class="sec1">
      <div class="weather-forecast">
        <h2> Weather-Forecast</h2>
    </div>
    <div class="card">
        <div class="search">
          <input type="text" placeholder="Enter city name to check weather" spellcheck="false">
          <button>
            <img src="../assets/search.png">
          </button>
        </div>
        <div class="error">
          <p>Invalid city name</p>
        </div>
        <div class="weather">
          <img src="../assets/rain.png" class="weather-icon">
          <h1 class="temp">22°C</h1>
          <h2 class="city">Punjab</h2>
          <div class="details">
            <div class="col">
              <img src="../assets/humidity.png">
              <div>
                <p class="humidity">50%</p>
                <p>humidity</p>
              </div>
            </div>
    
            <div class="col">
              <img src="../assets/wind.png">
              <div>
                <p class="wind">50 km/h</p>
                <p>Wind Speed</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="sec2">
   <div class="insurance">
    <div class="card2">
    <div class="farmers-insurance">
      <div class="insurance-img1">
        <img src="../assets/insurance1.svg">
      </div>
      <div class="title">
      <h2>Farmers-Insurance</h2>
      </div>
      
      <div class="contents">
      <h2>🌾 Why Add Farmer’s Insurance?</h2>
      <p>Because farming is risky — droughts, pests, floods, etc</p>
      <li>Protect farmers from crop failure losses</li>
      <li>Encourage adoption of new tech with safety nets</li>
      <li>Build trust and long-term sustainability</li>
      </div>
      <button class="insurance-button">Register Now </button>
    </div>
   </div> 
   <div class="card2">
    <div class="crop-insurance">
      <div class="insurance-img2">
        <img src="../assets/insurance2.svg">
      </div>
    <div class="title">
      <h2>Crop-Insurance</h2>
      </div>
      <div class="contents">
      <h2>🌾 Crop Insurance: Protecting Your Harvest, Securing Your Future</h2>
      <p>Crop insurance is a safety net for farmers that helps protect against the loss of crops due to natural disasters like droughts, floods, hailstorms, pests, or unexpected market fluctuations</p>
      <li>Shields farmers from financial risk</li>
      <li>Stabilizes income during poor harvest seasons</li>
      <li>Supports long-term agricultural sustainability</li>
      </div>
      <button class="insurance-button">Register Now </button>
    </div>
   </div>
   <div class="card2">
    <div class="crop-insurance">
      <div class="insurance-img2">
        <img src="../assets/insurance.jpg">
      </div>
    <div class="title">
      <h2>Equipment-Insurance</h2>
      </div>
      <div class="contents">
      <h2>🚜 Farm Equipment Protection Plan</h2>
      <p>Ensure your tools of trade stay secure. This insurance covers loss or damage to your essential farming machinery.</p>
      <li>All risk coverage: fire , mechanical breakdown</li>
      <li>24/7 claim support and on-site inspection</li>
      <li>Flexible plans based on equipment age and usage</li>
      </div>
      <button class="insurance-button">Register Now </button>
    </div>
   </div>
    </div>
  </div>
  <div class="sec3">
    <div class="rent-equipment">
      <div class="title">
        <h2>Equipment Rental</h2>
      </div>
      <div class="cards">
        <div class="c1">
          <img src="../assets/equipments/tractor.jpg">
          <h2>Tractors</h2>
          <p>Rent at lowest rates</p>
          <button class="btn">Rent</button>
        </div>
        <div class="c1">
          <img src="../assets/equipments/seed-drills.jpg">
          <h2>Seed-Drills</h2>
          <p>Better Seed-Drilling</p>
          <button class="btn">Rent</button>
        </div>
        <div class="c1">
          <img src="../assets/equipments/combine-harvester-machine.jpg">
          <h2>Combine Harvester</h2>
          <p>Newly equipped machines</p>
          <button class="btn">Rent</button>
        </div>
        <div class="c1">
          <img src="../assets/equipments/Cultivators.jpg">
          <h2>Cultivators</h2>
          <p>Discount on Cultivators </p>
          <button class="btn">Rent</button>
        </div>
        <div class="c1">
          <img src="../assets/equipments/movers.jpg">
          <h2>Movers</h2>
          <p>Rent at lowest rates</p>
          <button class="btn">Rent</button>
        </div>
        <div class="c1">
          <img src="../assets/equipments/sprayers.png">
          <h2>Sprayers</h2>
          <p>Rent at lowest rates</p>
          <button class="btn">Rent</button>
        </div>
      </div>
    </div>
  </div>
  
  <div class="sec4">
    <div class="title">
      <h2>Expert consultation</h2>
    </div>
    <div class="Agromists-Veterinarians">
      
      <div class="contents1">
        <h2>🌾 Who are Agronomists?</h2>
        <p>Agronomists agricultural experts who study how to grow crops efficiently and sustainably.</p>
        <p>🔍 What Do Agronomists Do?</p>
        <li>Research: Study plants, soil, weather, and farming systems.</li>
        <li>Guidance on sustainable farming practices</li>
        <li>Access to the latest agricultural research and technology</li>
      </div>
      <div class="contents2">
        <h2>🌾 Why Consult a Veterinarian?</h2>
        <p>Because farming is risky — droughts, pests, floods, etc</p>
        <li>Expertise in animal health and welfare</li>
        <li>Guidance on disease prevention and treatment</li>
        <li>Access to the latest veterinary research and technology</li>
      </div>
      <div class="cards">
        <div class="c1">
          <img src="../assets/ppl1.jpg">
          <h2>Ben Paul</h2>
          <p>Agromists</p>
          <button class="btn">Book now</button>
        </div>
        <div class="c1">
          <img src="../assets/ppl2.jpg">
          <h2>Dr Chismillin</h2>
          <p>Veterinarian</p>
          <button class="btn">Book now</button>
        </div>
        </div>
      </div>  
    </div>
    <script src="scripts.js"></script>
</body>
</html>