<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./store.css">
    <title>Store</title>
</head>
<body>
    <div class="navbar">
        <a href ="../index.html">Home</a>
        <a href ="About.html">About</a>
        <a href ="Service.html">Service</a>
        <a href ="Store.html">Store</a>
        <a href ="Login.html">Login</a>  
      </div>

    <div class="sec1">
      <div class="title">
        <h1>Seeds</h1>
      </div>
        <div class="seed">    
        <div class="cards">
        <div class="c1">
          <img src="../assets/store/rice-seeds.png">
          <h2>Paddy (Grade A) </h2>
          <p class="price">₹2,300 /quintal </p>
          <button class="btn">Buy</button>
        </div>
        </div>
          <div class="cards">
                <div class="c1">
                  <img src="../assets/store/ragi-seeds.jpg">
                  <h2>Ragi</h2>
                  <p class="price">₹4,290 /quintal</p>
                  <button class="btn">Buy</button>
                </div>
            </div>
          <div class="cards">
              <div class="c1">
                <img src="../assets/store/wheat-seeds.jpg">
                <h2>Wheat</h2>
                <p class="price">₹2,425 /quintal</p>
                <button class="btn">Buy</button>
              </div>
          </div>
          <div class="cards">
            <div class="c1">
              <img src="../assets/store/barley-seeds.jpg">
              <h2>Barley</h2>
              <p class="price">₹1,980 /quintal</p>
              <button class="btn">Buy</button>
            </div>
        </div>
        </div>
        </div>
     <div class="sec2">
      <div class="title">
        <h1>Fertilizers</h1>
      </div>
      <div class="fertilizer">
      <div class="cards">
        <div class="c1">
          <img src="../assets/store/urea.png">
          <h2>Urea</h2>
          <p class="price">₹260 /50kg</p>
          <button class="btn">Buy</button>
        </div>
    </div>
    <div class="cards">
      <div class="c1">
        <img src="../assets/store/neem-cake.png">
        <h2>Neem-Cake</h2>
        <p class="price">₹20 – ₹75 per kg</p>
        <button class="btn">Buy</button>
      </div>
  </div>
  <div class="cards">
    <div class="c1">
      <img src="../assets/store/vermi-compost.png">
      <h2>Vermi-Compost</h2>
      <p class="price"> ₹10 – ₹80 per kg</p>
      <button class="btn">Buy</button>
    </div>
</div>
<div class="cards">
  <div class="c1">
    <img src="../assets/store/bio-fertilizer.png">
    <h2>Rhizobium Bio-Fertilizer</h2>
    <p class="price">₹40 – ₹500 per kg/liter</p>
    <button class="btn">Buy</button>
  </div>
</div>
</div>
     </div>  
  <div class="sec3">
    <div class="title">
      <h1>Equipments</h1>
    </div>
      <div class="farm-inputs">    
      <div class="cards">
      <div class="c1">
        <img src="../assets/store/drip-system.png"">
        <h2>Drip-system</h2>
        <p class="price">₹5,300</p>
        <button class="btn">Buy</button>
      </div>
      </div>
        <div class="cards">
              <div class="c1">
                <img src="../assets/store/irigation.png">
                <h2>Irigation System</h2>
                <p class="price">₹8,290</p>
                <button class="btn">Buy</button>
              </div>
          </div>
        <div class="cards">
            <div class="c1">
              <img src="../assets/store/solar-pump.png">
              <h2>Solar Pumps</h2>
              <p class="price">₹49,000</p>
              <button class="btn">Buy</button>
            </div>
        </div>
        <div class="cards">
          <div class="c1">
            <img src="../assets/equipments/sprayers.png">
            <h2>Sprayers</h2>
            <p class="price">₹3000</p>
            <button class="btn">Buy</button>
          </div>
      </div>
      </div>
   </div> 




  </div>
</body>
</html>